<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.wave-usage</string>
        
        <key>WorkingDirectory</key>
        <string>current directory will go here</string>

        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>-c</string>
            <string>npm start -- -c creds.json</string>
        </array>

        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>path goes here</string>
        </dict>

        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>12</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>

        <key>StandardOutPath</key>
        <string>/tmp/local.wave-usage.stdout</string>
        <key>StandardErrorPath</key>
        <string>/tmp/local.wave-usage.stderr</string>

    </dict>
</plist>
